.pais {
  background-image: url("../../public/Hills.png");
  height: 778px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 32px;
  padding-left: 72px;
  padding-right: 80px;
}

.paisNav {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  display: flex;
}

.logoPilt {
  height: 64px;
  width: auto;
}

.logoTekst {
  font-size: 33px;
  font-weight: 800;
  line-height: 35px;
  color: #0B0B0B;
  display: flex;
  flex-direction: column;
}

.paremPool {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 2.67px;
  display: flex;
  align-items: center;
}

.paremPoolLink {
  margin-left: 40px;
  color: #000000;
  text-decoration: none;
}

.paisAlumine {
  display: flex;
  justify-content: space-between;
}

.paisAlumineSisu {
  margin-top: 230px;
  font-weight: 800;
}

.peaklirjad {
  font-weight: 800;
  letter-spacing: 0px;
  color:#0B0B0B;
}

.paisAlumineSisuH2 {
  font-size: 40px;
  line-height: 43px;
}

.paisAlumineSisuH1 {
  font-size: 74px;
  margin-top: -10px;
  line-height: 43px;
}

.paisAlumineSisuH4 {
  font-size: 21px;
  margin-top: -10px;
  line-height: 29px;
}

.paisAlumineSisuNupp {
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 2.25px;
  line-height: 29px;
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 247px;
  height: 58px;
}

.paisAluminePilt {
  background-image: url("../../public/Image.png");
  height: 915px;
  width: 915px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: -300px;
  border-radius: 500px;
  filter: drop-shadow(0px 70px 40px #000);
}
